{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="container-fluid" >
        <div class="row equal">
            <div class="col-md-3 border-right"  >
                {% if 'username' in session %}
                    <a href="{{url_for('catalog.newCategory')}}">
                        <button class="btn btn-success" id="new-category">
                            <span aria-hidden="true"></span>Add Category
                        </button>
                    </a>
                {% endif %}
                <h3>Categories</h3>
                {% for category in catalog %}
                    <a href = "{{url_for('catalog.showItems', category_name = category.name)}}">
                        {{category.name}}
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-9" >

                <div class="pl-10">
                    <div class = 'flash'>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li> <strong> {{ message }} </strong> </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>

                    {% if 'username' in session %}
                    <a href="{{url_for('item.newItem')}}">
                        <button class="btn btn-success" id="new-item">
                            <span aria-hidden="true"></span>Add Item
                        </button>
                    </a>
                    {% endif %}

                    <h3>Latest Items</h3>
                    {% for latest_item in latest %}
                        <a href="{{url_for('catalog.showItem', category_name=latest_item.category_name, item_name=latest_item.item_name)}}">
                            {{latest_item.item_name}}
                        </a> <i>({{latest_item.category_name}})</i> <br/>
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>


{% endblock %}
